.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.jeep-code-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container button {
  margin-left: 5px;
}

.route-container {
  width: 100%;
  padding: 10px;
  text-align: center;
}
